version: "3.8"

services:
  server:
    build: ./server
    container_name: my_server
    restart: always
    ports:
      - "3000:3000"

  client:
    build: ./client
    container_name: my_client
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server
